* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    background-image: url(../ressources/—Pngtree—trendy\ 80s\ abstract\ geometric\ background_1157556.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.navbar {
    position:absolute;
    padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.navbar a {
    color: white;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .nav-links ul li.active a {
    color: #ed3c57;
    font-weight: 600;
}
.navbar .menuHamburger {
    display: none;
    position: absolute;
    top: 85px;
    right: 1750px;
    width: 60px;
    border-radius: 50%;
}

@media screen and (max-width: 4000px) { /*désactivé 4000px*/
    .navbar{
        padding: 0;
    }
    .navbar .logo {
        font-size: 2em;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .navbar .menuHamburger {
        display: block;
    }
    .nav-links{
        top:0;
        left: 0;
        position: absolute;
        background-color: rgb(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

