body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    user-select: none;
    min-height: 100vh;
    background-image: url(../ressources/—Pngtree—trendy\ 80s\ abstract\ geometric\ background_1157556.png);
    
}
.glitch {
    
    color:transparent;
    background-color: transparent;
    border:none;
    outline:none;
    
}

.mesButtons {
    text-align: center;
    
    


}

.resultat {
    color: #CD106E;
    
    
}

.container {
    text-align: center;
    position: relative;
    top: 400px ;
}

img {
    border-radius: 15%;
}

.buttonP {
    border-radius: 15%;
    margin-left: 15px;
    padding:0;
    border-color: black;
  

}
.buttonF {
    border-radius: 15%;
    margin-left: 15px;
    padding:0;
    border-color: black;

}
.buttonC {
    border-radius: 15%;
    margin-left: 15px;
    padding:0;
    border-color: black;
  
    

}
.img1{
    box-shadow: 0 0 60px -10px blue;
    transition: all .3s;
}
.img2{
    box-shadow: 0 0 60px -10px blue;
    transition: all .3s;
}
.img3{
    box-shadow: 0 0 60px -10px blue;
    transition: all .3s;
    
    
}
.img1:hover {
    box-shadow: 0 0 60px blue;
}
.img2:hover {
    box-shadow: 0 0 60px blue;
}
.img3:hover {
    box-shadow: 0 0 60px blue;
}
